services:
  ntfy:
      image: binwiederhier/ntfy
      container_name: ntfy
      command:
        - serve
      environment:
        - TZ=America/Sao_Paulo
      user: 1000:1000 # optional: replace with your own user/group or uid/gid
      volumes:
        - /srv/ntfy/cache:/var/cache/ntfy
        - /srv/ntfy/etc:/etc/ntfy
      ports:
        - 8089:80
      healthcheck:
          test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:8088/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
          interval: 60s
          timeout: 10s
          retries: 3
          start_period: 40s
      restart: unless-stopped
      init: true